<div class="container-fluid">
    <!--***************************** 3D Text Effect****************************************** -->
    <div class="row">
        <div class="col-md-9" id="name">
            <span class="text"> <span class="jey">" Q ~ " </span>uotes<span class="jey">!</span></span>
        </div>
        <div class=" col-md-3">
            <div class="marqueestuff">
                <div class="box">
                    <div class="inner">
                        <span>~Quote Your Life</span>
                    </div>
                    <div class="inner">
                        <span>~#Daily Power~</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--***************************** 3D Text Effect****************************************** -->
    <hr>
    <div class="col-md-12">
        <h4 class="fontcool padding-left">"A quote a day can keep your worries at bay, and your success at stay."</h4>
    </div>
    <hr>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p class="lowcase text-center para1 p1box">
                <i class="fas fa-quote-left"></i>
                “ SECURITY IS MOSTLY A SUPERSTITION. IT DOES NOT EXIST IN NATURE, NOR DO THE CHILDREN OF MEN AS A WHOLE
                EXPERIENCE IT.
                AVOIDING DANGER IS NO SAFER IN THE LONG RUN THAN OUTRIGHT EXPOSURE. LIFE IS EITHER A DARING ADVENTURE,
                OR
                NOTHING. ”
                <!-- <img src="/assets/images/quoteleft.png" alt="quote-left"> -->
                <i class="fas fa-quote-right"></i>

            </p>
            <div class="blockquote-footer text-center">
                <small class="text-muted fontcool">HELEN KELLER</small>
            </div>

        </div>
        <div class="col-md-6">
            <app-quote-form class="headstyle" (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
    <br><br><br>
                <h1 class="fontcool text-center"> ~highest rated ~ </h1>

    <div class="col-md-12 quotes">
        <div class="setbox">
            <div>
<!--***************************** quote voting  Effect******************************************-->

                <div class="high-cont" *ngFor="let quote of quotes; let i = index; let j = index;">

                    <div class="high-quote" appHighestVote *ngIf='quote.upVote == highest() && highest() > 0'>
                        <br>
                        <p class="date">{{quote.completeDate | date}}</p>
                        <p class="quote-desc">{{quote.description}}<br> <span>...{{quote.publisher}}</span></p>
                        <div class="votes">
                            <span (click)='upVoter(i);highest();'>
                                <i class="far fa-thumbs-up"></i>Up<span>{{quote.upVote}}</span>
                            </span>
                            <span (click)='dnVoter(i)'>
                                <i class="far fa-thumbs-down"></i>Dn<span class="dn">{{quote.dnVote}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
<!--***************************** quote voting  Effect******************************************-->

            <div *ngFor='let quote of quotes;let i = index' class="quotebox">
                <div *ngIf='quote.showDescription'>
                    <app-quote-detail class="headstyle" [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                    </app-quote-detail>
                </div>
                <div *ngIf='quote.publisher'>
                    <app-quote-detail class="headstyle" [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                    </app-quote-detail>
                </div>
                <div class="headstyle">
                    <h6 id={{i}} appStrikethrough>{{quote.name}} {{quote.completeDate|date}}</h6>
                    <!-- <div *ngIf= 'showButton' > -->
                    <div>
                        <button r (click)='toggleDetails(i)' class="btn btn-success"
                            style="background-color: rgb(8, 117, 108);"> Quote Details
                        </button>
                    </div>
<!--***************************** quote voting  Effect******************************************-->

                    <div class="votes">
                        <span (click)='upVoter(i);highest();'>
                            <i class="far fa-thumbs-up"></i>Like<span>{{quote.upVote}}</span>
                        </span>
                        <span (click)='dnVoter(i)'>
                            <i class="far fa-thumbs-down"></i>Dis<span class="dn">{{quote.dnVote}}</span>
                        </span>
                    </div>
                    <!--***************************** quote voting Effect****************************************** -->

                </div>
            </div>
        </div>
    </div>
</div>