<div class="container-fluid">
    <!--************************ 3D Text Marquee Effect*********************** -->
    <div class="row">
        <div class="col-md-9" id="name">
            <span class="text"> <span class="jey">" Q ~ " </span>uotes<span class="jey">!</span></span>
        </div>
        <div class=" col-md-3">
            <div class="marqueestuff">
                <div class="box">
                    <div class="inner">
                        <span>~Quote Your Life</span>
                    </div>
                    <div class="inner">
                        <span>~#Daily Power~</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--***************************** 3D Text Effect  ************************************* -->

    <hr>
    <div class="col-md-12">
        <h4 class="fontcool padding-left">"A quote a day can keep your worries at bay, and your success at stay."
        </h4>
    </div>
    <hr>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p class="lowcase text-center para1 p1box">
                <img src="/assets/images/quoteleft.png" alt="quote-left" class="imgsmall">
                 SECURITY IS MOSTLY A SUPERSTITION. IT DOES NOT EXIST IN NATURE, NOR DO THE CHILDREN OF MEN AS A WHOLE
                EXPERIENCE IT.
                AVOIDING DANGER IS NO SAFER IN THE LONG RUN THAN OUTRIGHT EXPOSURE. LIFE IS EITHER A DARING ADVENTURE,
                OR
                NOTHING.
                <img src="/assets/images/downquote.png" alt="quote-left" class="imgsmall">
            </p>
            <div class="blockquote-footer text-center">
                <small class="text-muted fontcool">HELEN KELLER</small>
            </div>

        </div>
        <div class="col-md-6">
            <app-quote-form class="headstyle" (addQuote)="addNewQuote($event)">
            </app-quote-form>
        </div>
    </div>
    <br><br><br><br>
    <h1 class="fontcool text-center"> ~ quote of the day ~ </h1>

    <div class="col-md-12 quotes">
        <div class="setbox">
            <div>

      <!--*************************  quote of the day *****************-->

                <div style="font-size: 1.4em" class="favquote"
                    *ngFor="let quote of quotes; let i = index; let j = index;">

                    <div class="high-quote" appHighestVote *ngIf='quote.upVote == highest() && highest() > 0'>
                        <br>
                        <p class="quote-desc">{{quote.description}}
                           <br>
                           <span>..{{quote.publisher}}
                           </span></p>
                        <div class="votes">
                            <span (click)='upVoter(i);highest();'>
                               <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Hand-thumbs-up-like-2-icon.png" alt="quote-left" class="imgsmall">like
                               <span>{{quote.upVote}}
                               </span>
                            </span>
                            <span (click)='dnVoter(i)'>
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtAH0_0Z5HWm43TGooG9jdTDF8sD_7R9pxH9P-0VSAQzAolOQd" alt="thumbsup" class="imgsmall">Dis
                                <span class="dis">{{quote.dnVote}}
                                </span>
                            </span>
                            <hr>
                            <p class="date">Published on: {{quote.completeDate | date}} by {{quote.name}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

      <!--****************** quote of the day ***************  ***-->

            <div *ngFor='let quote of quotes;let i = index' class="quotebox">

                <div class="headstyle">
                    <h6 id={{i}}> Posted by: {{quote.publisher}}
                       <br>
                       <hr>
                       <span class="fontcool text-center"style="color: rgb(7, 80, 109);font-size:1.5em " >
                       <span class="text-center">{{quote.description}}
                       </span>
                    </span>
                    <br>
                    <br>
                    <hr>
                       <p class="date"></p>
                    </h6>

                    <div>
                        <button r (click)='toggleDetails(i)' class="btn btn-success"
                            style="background-color: rgb(8, 117, 108);"> Quote Details
                        </button>
                    </div>
                    <div *ngIf='quote.showDescription'>
                        <app-quote-detail [quote]='quotes' (isComplete)='deleteQuote($event,i)'>
                        </app-quote-detail>
                        <p class="desc fontcool">Published on: {{quote.completeDate | date}} by: {{quote.name}}
                        </p>
                    </div>

                    <!--***************************** quote voting icons*********************-->

                    <div class="votes">
                        <span (click)='upVoter(i);highest();'>
                            <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Hand-thumbs-up-like-2-icon.png" class="imgsmall"> Like
                            <span> {{quote.upVote}}
                            </span>
                        </span>
                        <span (click)='dnVoter(i)'>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtAH0_0Z5HWm43TGooG9jdTDF8sD_7R9pxH9P-0VSAQzAolOQd" alt="thumbsdown" class="imgsmall"> Dis
                            <span class="dn">{{quote.dnVote}}
                            </span>
                        </span>
                    </div>
                    <!--*********************** quote voting icons*********************** -->

                </div>
            </div>
        </div>
    </div>
    <footer>
        <p class="text-center" style="font-family: Courgette, cursive;   color: rgb(28, 99, 99)">© 2019 Quotes</p>
    </footer>
</div>
