/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


button {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  background-color: rgb(8, 117, 108);

}

* {
  background-color: #c4c4c4;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.cutetext {
  color: rgb(28, 99, 99);
  text-transform: uppercase;
  font-variant: small-caps;
  padding: 5%;
}

.fontcool {
  font-family: Courgette, cursive;
  color: rgb(5, 61, 61);

}
.para1 {
  color: rgb(5, 61, 61);
  padding: 7%;
}

.quotebox {
  background-clip: border;
  border: 5px solid rgb(202, 97, 106);
  /* border: 10px solid rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
  background-color: rgb(170, 139, 139);
  padding: 3%;
  padding-left: 5%;

}
/****************************** class quotes ********************/
.quotes{
  background-image: url('./assets/images/back1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}
.setbox{
margin-left: 15%;
margin-right: 15%;
}
/****************************** buttons ********************/
button {
  position: relative;
  color: white;
  background-color: black;
  border: none;
  padding: 6px 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline-color: transparent;
  border-radius: 30px;

}

button:after {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  top: 5px;
  height: 15px;
  width: 15px;
  left: 0;
  transition: all 0.2s ease;

}

button:hover {
  box-shadow: 0 0 20px rgb(255, 255, 255);
  border-radius: 30px;
  transition-delay: 0.1s;
}

button:active {
  box-shadow: 0 0 60px rgb(255, 255, 255);
  transition: 0.1s ease;
}

button:hover:after {
  left: 100%;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  box-shadow: 15px -15px 20px rgb(255, 255, 255);
}