/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

button {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  background-color: rgb(8, 117, 108);

}

* {
  background-color: #c4c4c4;
}

.cutetext {
  color: rgb(28, 99, 99);
  text-transform: uppercase;
  font-variant: small-caps;
  padding: 5%;
}

.fontcool {
  font-family: Courgette, cursive;
}

.quotebox {
  background-clip: border;
  border: 5px solid rgb(202, 97, 106);
  /* border: 10px solid rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
  background-color: rgb(170, 139, 139);
  padding: 3%;

}
