<div class="container-fluid">
    <div  class="fontcool" col-md-5>
        <h2 class=" fontcool">Create Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' class="formbackground">
        <div class="form-group">
            <label for="name" class="text-center">Your Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel'
                required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p class="text-center">Enter your Name</p>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="text-center">Write a Quote</label>
            <textarea style="font-family: 'Courgette', cursive; font-size:1.5em; color: rgb(10, 120, 124);" class="form-control"
                id="description" rows="2" cols="7" [(ngModel)]="newQuote.description" name="description" #description="ngModel"
                required>
            </textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                <p class="fontcool" >Description is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="publisher" class="text-center">Who is the original author ? </label>
            <input type="text" class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher='ngModel'
                required>
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <p class="text-center, fontcool">Enter original author name</p>
            </div>
        </div>
        <div class="form-group">
            <label for="complete"> Date </label>
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate"
                #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p class="fontcool" >Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="background-color: rgb(8, 117, 108);">Post Quote</button>
    </form>

    </div>
</div>
